In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
cites=pd.read_csv('CITES.csv')
cites.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W

In [39]:
edf=pd.read_csv('edf.csv')
edf.head()

,Unnamed: 0,Scientific Name,Common Name,Species Code,Population Code,Lead Region,Federal Listing Status,Where Listed
0,0,Abies guatemalensis,Guatemalan Fir (=pinabete),R003,P01,Foreign,Threatened,Wherever found
1,1,Abronia macrocarpa,Large-fruited sand-verbena,Q24E,P01,2,Endangered,Wherever found
2,2,Abutilon eremitopetalum,No common name,Q1SJ,P01,1,Endangered,Wherever found
3,3,Abutilon menziesii,Ko`oloa`ula,Q1SK,P01,1,Endangered,Wherever found
4,4,Abutilon sandwicense,No common name,Q1SL,P01,1,Endangered,Wherever found

str